.card {
    position: relative;
    padding-top: 0px;
    max-width: 875px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: block;
    margin-top: var(--mantine-spacing-md);
    margin-bottom: rem(5px);
}